body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: lightgrey;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: lightgrey;
}

#header-nav button {
    margin-top: 20px;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    padding-top: 0;
    line-height: 70px;
    height: 70px;
  }

.navbar-brand h1 {
    font-size: 1.5em;
    color: black;
    font-weight: bolder;
  }

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

#nav-list {
    background-color: white;
}

#nav-list a {
    font-weight: bolder;
    color: black;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: black;
    background-color: lightgray;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}


#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-1, #beef-2, #sushi-3 {
    width: 100%;
    padding: 30px;
    background-color: rgb(221,201,191);
    margin-bottom: 60px;
    
}



